.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin-top: 20px;
}

.button {
  margin: 10px 0 10px 0;
}

a {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 5px 5px;
  margin: 0 5px 0 5px;
}

.translate {
  background-color: seagreen;
}

.reset {
  background-color: red;
}

textarea {
  width: 90%;
}